<!DOCTYPE html>
<html>
<body>
<form method='post'>
        <h3>Please Enter Enviromental details below</h3>
		API_KEY: <input type='text' name='api_key'><br>
        	USERName: <input type='text' name='username'><br>
		Password: <input type='password' name='password'><br>
		<h3>Please Enter Application details below</h3>
		ORG Name to use / create: <input type='text' name='orgname'><br>
	        SPACEName to use / create: <input type='text' name='spacename'><br>
		ORG Role: <input type='password' name='orgrole'><br>
		SPACE Role: <input type='password' name='spacerole'><br>
        <input type="submit" name="action2">
      </form>
<script>
</script>
</body>
</html>

